# Dependencies
node_modules/
jspm_packages/
web_modules/
bower_components/
.pnp
.pnp.*
.pnp.js
/typings

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
libpeerconnection.log
testem.log

# Environment Variables and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build and Compiled Output
dist/
/dist
/bazel-out
/out-tsc
/tmp
build/
out/
.next/
.nuxt/
.vuepress/dist/
**/.vitepress/dist/
.serverless/

# Tests and Coverage
coverage/
/coverage
*.lcov
.nyc_output
.vscode-test
__screenshots__/

# Caches and Intermediate Files
.cache/
/.angular/cache
.sass-cache/
.parcel-cache/
.eslintcache
.stylelintcache
.temp/
**/.vitepress/cache/
.docusaurus/
.fusebox/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.npm
*.tsbuildinfo
.grunt

# Runtime and System Files
pids
*.pid
*.seed
*.pid.lock
.node_repl_history
.DS_Store
Thumbs.db
.lock-wscript
/connect.lock
.tern-port
.dynamodb/
*.tgz
.yarn-integrity

# Editor Specific (VSCode, JetBrains, Visual Studio)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
.idea/
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diagnostic and Misc
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
lib-cov
build/Release

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz