mat-card {
    width: 80%;
    margin: auto;
}

mat-form-field, textarea {
    width: 100%;
}

/*Make the file picker hidden since we use the template variable to style the button instead*/
input[type=file] {
    visibility: hidden;
}

.imagePreview {
    height: 5rem;
    max-width: 100%;
}

.imagePreview img {
    height: 100%;
    max-width: 100%;
}